{% extends 'base.html.twig' %}
{% block javascript  %}
    <script src="https://js.stripe.com/v3/"> </script>
{% endblock %}
{% block title %}Confirmation de la commande {% endblock %}

{% block content %}
<h2> Mon récapulatif </h2>
<p> Vérifier vos informations avant de payer votre commande.</p>
<hr>
<div class="row"> 
<div class="col-md-6">
 <strong> Mon adresse de livraison </strong><br/>
 <div class="form-check mt-4">
 {{ adrlivraison|raw }} 
 </div>
<hr>
<strong>Mon transporteur </strong> <br/>
<div class="form-check mt-4">
{{ carrier.nom }} <br/>
{{ carrier.description }} <br/>
{{ carrier.prix|number_format('2', ',', '.') }} TND<br/>
</div>

<hr>
</div>
<div  class="col-md-6">
<div class="text-center">
<b> Récap de ma commande </b> <br/>
<p>Retrouvez le récapulatif de vos produits.</p>
</div>

<div class="order-summary">
{% set total= null %}
{% for key,produit in cart %}
<div class="row {% if key > 0 %} mt-2{% endif %}">
<div class="col-2">
  <img src= "/upload/image/produit/{{produit.produit.image}}"alt="{{produit.produit.nom}}"height="75px" > <br/>
</div>
<div class="col-8 my-auto">
    {{produit.produit.nom}} <br/>
   <small>   
    X {{produit.quantité}}  
   </small>
</div>
   <div class="col-2 my-auto" >
         {{ ((produit.produit.prix * produit.quantité) / 100)|number_format('2', ',', '.') }} TND
   </div>  
</div>
{% set total= total+(produit.produit.prix * produit.quantité)  %}
{% endfor %}
</div>

<hr>
<strong>Sous-Total: </strong> {{(total / 100)|number_format('2', ',', '.') }} TND  <br/>

<strong>Livraison :</strong>

 {{ (carrier.prix)|number_format('2', ',', '.') }} TND  
<hr> 
<strong>Total :  </strong> {{((total / 100) + carrier.prix)|number_format('2', ',', '.') }} TND  <br/>

<a  class="btn btn-success btn-block mt-3" id="checkout-button">Payer  {{((total / 100) + carrier.prix)|number_format('2', ',', '.') }} TND </a>
</div>
 </div>
{% endblock %}
{% block script %}
   <script type="text/javascript">
   var stripe = Stripe("pk_test_51N3dd1LMYODaSYBC4l33siWCsN7QYNMis8PVpyiEIAOBjxb7w4T18gnQWkLAiiIDTnWJCgzt4dAaYVlRPpceIAyo00OMhpRFxA");
   var checkoutButton = document.getElementById("checkout-button");
   checkoutButton.addEventListener("click", function() {
    
     fetch("/commande/create-session/{{ reference }}",{
      method: "POST",
     })
     
     .then(function(response){
      return response.json();
     })
      .then(function(session){
      return stripe.redirectToCheckout({ sessionId: session.id });
     })
      .then(function(result){
        if (result.error){
          alert(result.error.message);
        }
     })
     .catch(function (error){
       console.error('Errors', error );
     });

   }) ;


</script>
   
{% endblock %}