{% extends 'base.html.twig' %}

{% block title %}Confirmation de la commande {% endblock %}

{% block content %}
<h2> Je passe ma commande </h2>
<p> Choisissez vos préférences avant de passer votre commande sur </p>
<hr>
<div class="row"> 
<div class="col-md-6">
{% set formHtml  %}
{{form(form)}}
{% endset %}
{{formHtml|replace({'[br]': '<br/>'})|raw }}

</div>
<div  class="col-md-6">
<div class="text-center">
<b> Récap de ma commande </b> <br/>
<p>Retrouvez le récapulatif de vos produits.</p>
</div>

<div class="order-summary">

{% for key,produit in cart %}
<div class="row {% if key > 0 %} mt-2{% endif %}">
<div class="col-2"><img src= "/upload/image/produit/{{produit.produit.image}}"alt="{{produit.produit.nom}}"height="75px" > <br/></div>
<div class="col-8 my-auto"><td> {{produit.produit.nom}} <br/> </div>
<div class="col-2 my-auto">   X {{produit.quantité}}  </div>
</div>
     
{% endfor %}
</div>

</div>
 </div>
{% endblock %}
